.lanpasaa-aboutus{
  width: 100%;
  margin: 0px auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  @media(max-width: $media_medium){
    grid-template-columns: 1fr;
    h1{
      text-align: center;
    }
  }
  
  div:nth-child(1){
    grid-column: 1 / 3;
    grid-row: 1 / 1;
    @media(max-width: $media_medium){
      grid-column: 1 / 1;
      grid-row: 1 / 1;
    }
  }
  div:nth-child(2){
    grid-column: 2/ 3;
    grid-row: 2 / 2 ;
    @media(max-width: $media_medium){
      grid-column: 1 / 1;
      grid-row: 2 / 2;
    }
  }
  div:nth-child(2){
    grid-column: 1/ 1;
    grid-row: 2 / 2 ;
    @media(max-width: $media_medium){
      grid-column: 1 / 1;
      grid-row: 3 / 3;
    }
  }

  div{
    width: 90%;
    margin: 0px auto;
    text-align: justify;
    padding: 30px;
    font-size: $regular;
    line-height: 1.5rem;
    h1{
      position: relative;
      left: -2%;
    }
    
    img{
      width: 100%;
      height: auto;
      margin-top: 40px;
      @media(max-width: $media_medium){
        margin-top: 0px;
      }
    }
  }
}