body{
  background-color: #fff;
  color: #333;
}
img, svg{
  filter: grayscale(100%);
}


h1, h2, h3, h4, h5, h6{
  color: #666;
}

/** BOTTON **/
$button_color: #ddd;
$button_background: #333;
$button_background_hover: #999;
$button_color_hover: #ddd;   

$border_extra_dark: #000;
$border_dark: #333;
$border_light: #666;
$border_lighter: rgb(207, 206, 206);
$border_white: #ffffff;



/** COLOR **/
$color_white: #ffffff;
$color_black: #000000;

$color_light: #999;
$color_lighter: #ddd;
$color_dark: #666;
$color_darker: #333;
$color_extra_dark: #000;


/** BACKGROUND **/
$background_white: $color_white;
$background_black: $color_black;

$background_extra_dark: $color_extra_dark;
$background_lighter: $color_lighter;
$background_light: $color_light;
$background_dark: $color_dark;
$background_darker: $color_darker;
$background_transparent_lighter: rgba(102,102,102,0.40);
$background_transparent_light: rgba(102,102,102,0.74);
$background_transparent_dark: rgba(102,102,102,0.90);

