body{
  background-color: #fff;
  color: #333;
}



h1, h2, h3, h4, h5, h6{
  color: #666;
}

$button_color: #ddd;
$button_background: #333;


$border_dark: #333;
$border_light: #666;
$border_lighter: rgb(207, 206, 206);


$color_light: #999;
$color_lighter: #ddd;
$color_dark: #666;
$color_darker: #333;

$background_lighter: $color_lighter;
$background_light: $color_light;
$background_dark: $color_dark;
$background_darker: $color_darker;

