.navwheat{
  /*
  display: grid;
  position: relative;
  width: 200px;

  @media(max-width: $media_small){
    .mobileNavIcon{
      width: 100%;
      z-index: 10;
      display: flex;
      justify-content: flex-start;
      margin: 10px 3px;
      background: transparent;
      .nav-toggle.open{
        background: transparent !important;
        border: none;
      }
      }
    .menu.open{
      display: block;
      transition: display 2s;
    }
    .menu{
      display: none;
      transition: display 2s;
    }
  }
  

  .menu{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 200px;
    height: 100vh;
    background-color: $background_light;
    text-align: center;
    transition: display 2s;
    display: flex;
    flex-direction: column;
    

    .logo{
      width: 50px;
      height: auto;
      margin: 0px auto;
      margin-top: 100px;
    }

    p{
      font-size: $small;
      text-transform: uppercase;
      font-weight: 300;
      margin: 30px 0px;
    }

    ul.nav-main{
      padding: 0px;
      margin: 45px 0px 0px 0px;    
        li{
          list-style: none;
          line-height: 1.9rem;
          a{
            font-weight: 100;
            text-decoration: none;
            color: $color_black;
            font-size: $medium;
            text-transform: uppercase;
            letter-spacing: 2px;
            &:hover{
              color: $color_white;
              font-weight: 300;
              transition: color 0.5s;
            }
          }

          
        }
        

    }

    .contact{
      margin: 100px 0px;
      h3{
        font-weight: 300;
        text-shadow: none;
        font-size: $medium;
        color: $color_black;
        text-transform: none;
        line-height: 0.5rem;
      }
    }
  }
  */




}