.copyrightfooter{
  width: 100%;
  margin-top: 50px;
  text-align: center;
  color: $color_dark;
  font-size: $medium;
  @media(max-width: $media_extra_small){
    font-size: $small;
    width: 80%;
    margin: 0px auto;
  }
  a{
    color: $color_dark;
    font-weight: 100;
    text-decoration: none;
    margin: 0px 10px;
    letter-spacing: 1px;
    transition: letter-spacing 2s;
    &:hover{
      font-weight: 800;
      letter-spacing: 2px;
      transition: letter-spacing 0.5s;
      $color: $color_darker;
    }
  }
}