:root {
  --h1-color: rgb(6, 123, 249);
  --h1-color-trans:  rgba(3, 158, 247, 0.447);
}

@keyframes appear{
  0% {top: 35%; color: var(--h1-color-trans) !important; text-shadow: none; z-index: 1;}
  100% { top: 40%; color: var(--h1-color);}
}
@keyframes expand{
  0% {letter-spacing: -1em; color: $color_white}
  50% {letter-spacing: 0em;}
  100%{letter-spacing: 1em;}
}

.lotus{
  *{
    box-sizing: border-box;
  }
  img,
  .b3lotus{
    filter: grayscale(0%);
  }
  div.divider{
    display: block;
    height: 50px;
    width: 100%;
  }

  h1{
    font-weight: 800;
    color: var(--h1-color) !important;
    text-transform: lowercase;
    font-size: $megha_font;
  }

  .navlotus .nav-ul li a,
  a.brand-logo
  {
    color: #000000;
  }

  h2{
    color: #000000;
  }

  .forminbox{
    form{
      border: none;
    }
  }
  
  .btn{
    background-color: #03496b !important;
  }

  
  .b3lotus .boxes div h2,
  .twocolumnlotus div.text h1, 
  .twocolumns div h2 {
    text-align: left !important;
    font-size: 1.5rem;
    text-shadow: none;
    color: black !important;
  }
}
