@keyframes appear{
  0% {top: 35%; color: #03486b2c !important; text-shadow: none; z-index: 1;}
  100% { top: 40%; color:  #03496b;}
}
@keyframes expand{
  0% {letter-spacing: -1em; color: $color_white}
  50% {letter-spacing: 0em;}
  100%{letter-spacing: 1em;}
}

.lotus{
  *{
    box-sizing: border-box;
  }
  img,
  .b3lotus{
    filter: grayscale(0%);
  }
  div.divider{
    display: block;
    height: 50px;
    width: 100%;
  }

  .navlotus .nav-ul li a,
  a.brand-logo,
  h1{
    color: #03496b !important;
  }

  h2{
    color: #000000;
  }

  .forminbox{
    form{
      border: none;
    }
  }
  
  .btn{
    background-color: #03496b !important;
  }

  
  .b3lotus .boxes div h2,
  .twocolumnlotus div.text h1, 
  .twocolumns div h2 {
    text-align: left !important;
    font-size: 1.5rem;
    text-shadow: none;
    color: black !important;
  }
}
