.smokeText{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  background: $background_black;
  position: relative;

  p{
    color: $color_white;
    cursor: pointer;
  }
  
  h1{
    position: absolute;
    font-weight: 800;
    font-size: $larger;
    letter-spacing: 0.5em;
   
    span{
      animation: animate 2s linear forwards;
      opacity: 0;
      z-index: 10;
    }
    span:nth-child(1){
      animation-delay: 0s;
    }
    span:nth-child(2){
      animation-delay: 1s;
    }
    span:nth-child(3){
      animation-delay: 1.5s;
    }
    span:nth-child(4){
      animation-delay: 1.7s;
    }
    span:nth-child(5){
      animation-delay: 1.9s;
    }
    span:nth-child(6){
      animation-delay: 2.0s;
    }
    span:nth-child(7){
      animation-delay: 2.3s;
    }
    span:nth-child(8){
      animation-delay: 2.5s;
    }
    span:nth-child(9){
      animation-delay: 2.7s;
    }
    span:nth-child(10){
      animation-delay: 3s;
    }
    span:nth-child(11){
      animation-delay: 3.4s;
    }
    span:nth-child(12){
      animation-delay: 3.8s;
    }
    span:nth-child(13){
      animation-delay: 4s;
    }
    span:nth-child(14){
      animation-delay: 4.5s;
    }


  }

  @keyframes animate {
    from {transform: rotateY(90deg); opacity: 0; filter: blur(10px);;}
    to {transform: rotateY(0); opacity: 1; filter: blur(0);}
  }

  
  video{
    width: 100%;
    object-fit: cover;
  }


}