@import "./CoffeeNav";

.coffee{
  width: 100%;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 1fr;
  div{
   border: 1px solid $border_lighter;
  }
  .header{
    height: 60px;
    width: 100%;
  }

  .landing,
  .block-2, .block-3, 
  .block-4, .block-6{
    width: 100%;
    min-height: 100vh;
  }

  .block-5{
    width: 100%;
    min-height: 600px;
  }

  .footer-1{
    width: 100%;
    min-height: 300px;
  }
  
}