
/** "App" is globle CUSTOM-MADE STYLE class *******/
.App {

@import "./sass/media";
@import "./sass/color";
@import "./sass/font";
@import "./sass/button";
@import "./sass/transition";
@import "./sass/form";

/** Boxes **/
@import "./sass/Boxes/b4member";
@import "./sass/Boxes/b3images";
@import "./sass/Boxes/b3services";
@import "./sass/Boxes/b3cards";
@import "./sass/Boxes/b3textimages";
@import "./sass/Boxes/b2leftright";
@import "./sass/Boxes/b2reviews";
@import "./sass/Boxes/b3plans";
@import "./sass/Boxes/b3prices";
@import "./sass/Boxes/b4boxborder";
@import "./sass/Boxes/b4boxes";
@import "./sass/Boxes/b3blocks";

/** Columns **/
@import "./sass/Columns/TwoColumns";
@import "./sass/Columns/TwoColumnsLotus";
@import "./sass/Columns/ThreeColumnWheat";
@import "./sass/Columns/TwoColumnWheat";
@import "./sass/Columns/TwoColPriceWheat";
@import "./sass/Columns/TwoColumnContact";

/** Navigation **/
@import "./sass/Navigation/MeghaMenu";
@import "./sass/Navigation/BtnThreelines";
@import "./sass/Navigation/NavSlideIn";
@import "./sass/Navigation/NavCoverPage";
@import "./sass/Navigation/NavSlideInLeft";
@import "./sass/Navigation/navbar";
@import "./sass/Navigation/NavEcom";
@import "./sass/Navigation/NavLotus";
@import "./sass/Navigation/NavFixedLeft";
@import "./sass/Navigation/NavMainLanPasaa";
@import "./sass/Navigation/NavShopLanPasaa";

/** ICONS **/
@import "./sass/Icons/UpDownArrow";



/** Call To Action **/
@import "./sass/CallToAction/VideoHeadlineButton";
@import "./sass/CallToAction/CTAwithImage";
@import "./sass/CallToAction/TwoColumnCTA";
@import "./sass/CallToAction/CTALargeImage";
@import "./sass/CallToAction/HeroLotus";
@import "./sass/CallToAction/HeroMordernArt";
@import "./sass/CallToAction/HeroWheat";
@import "./sass/CallToAction/HeroWheatTwo";


/** Animation **/
@import "./sass/Animation/smoketext";
@import "./sass/Animation/rotation";
@import "./sass/Animation/circle";

//** Image Slider **/
@import "./sass/ImageSlider/ResponsiveSlider";
@import "./sass/ImageSlider/Carousel";
@import "./sass/ImageSlider/CarouselWithText";
@import "./sass/ImageSlider/ScrollOnClick";


/** Contact Form **/
@import "./sass/Contact/FormRegular";
@import "./sass/Contact/FormWide";
@import "./sass/Contact/FormDetails";
@import "./sass/Contact/FormInBox";
@import "./sass/Contact/FormGetInTouch";
@import "./sass/Contact/FormGetQuote";
@import "./sass/Contact/LotusContactPage";
@import "./sass/Contact/ContactWheat";
@import "./sass/Contact/SubscriptioinWheat";
@import "./sass/Contact/SubscriptioinLanPasaa";
@import "./sass/Contact/ContactFormLanpasaa";
@import "./sass/Contact/ContactLanPasaa";


/** Headers **/
@import "./sass/Headers/EcomHeadersTop";
@import "./sass/Headers/EcomSearchBar";
@import "./sass/Headers/TitleWide";
@import "./sass/Headers/LanpasaaTitle";


/** About us **/
@import "./sass/Aboutus/LotusAboutUs";
@import "./sass/Aboutus/LotusTeam";
@import "./sass/Aboutus/LotusWhatWeDo";
@import "./sass/Aboutus/LotusWorks";
@import "./sass/Aboutus/TeamWheat";
@import "./sass/Aboutus/WheatAboutus";
@import "./sass/Aboutus/FAQs";
@import "./sass/Aboutus/LanpasaaAboutus";


/** Social Media **/
@import "./sass/SocialMeida/socialMediaLanPasaa";

/** Apps [ React Applications ]**/
@import "./sass/Apps/Apps";
@import "./sass/Apps/ReduxTotoApp";


/** Websites **/
@import "./sass/Websites/Websites";

/** Website Coming Soon **/
@import "./sass/Websites/ComingSoon/ComingSoon";

/** WHEAT  - website **/
@import "./sass/Websites/Wheat/HeroWheat";
@import "./sass/Websites/Wheat/ThreeColumnWheat";
@import "./sass/Websites/Wheat/TwoColPriceWheat";
@import "./sass/Websites/Wheat/TwoColumnWheat";
@import "./sass/Websites/Wheat/Wheat";

/** LOTUS - website **/
@import "./sass/Websites/Lotus/b3Lotus";
@import "./sass/Websites/Lotus/TwoColumnsLotus1";
@import "./sass/Websites/Lotus/TwoColumnsLotus2";
@import "./sass/Websites/Lotus/Lotus";


/** LAN PASAA - website + shopping cart **/
@import "./sass/Websites/LanPasaa/LanPasaa";



/** COFFEE - website **/
@import "./sass/Websites/Coffee/Coffee";

/** Covide - website **/
@import "./sass/Websites/Covid/Covid";


/** SEARCH RECIPES - website + search app **/
@import "./sass/Websites/SearchRecipes/SearchRecipes";

/** Footer **/
@import "./sass/Footers/CopyRightFooter";
@import "./sass/Footers/Footer3Column";



  box-sizing: border-box;
  width: 100%;
  margin: 0px;
  padding: 0px;


/** **/
.ref {
  box-sizing: border-box;
  font-size: 0.7rem;
  font-weight: 800;
  padding: 10px 20px;
  background: #000;
  color: #ccc;
  letter-spacing: 2px;
  width: 100%;
  margin: 200px 0px;
}


  

  .with-menu {
    display: grid;
    grid-template-columns: 1fr;
  }
  .without-menu{
    display: grid;
    grid-template-columns: 1fr;
    padding: 0px 0px;
  }
  .show{
    display: block;
  }
  .hide{
    display: none;
  }






div.divider{
    display: block;
    height: 50px;
    width: 100%;
  }

/** category component **/
.categories {
  ul {
    li {
      list-style: none;
      margin: 10px 0px;
      a {
        text-decoration: none;
        padding: 10px 0px;
        font-size: $medium;
        &:hover {
          color: $color_light;
          transition: 0.5s;
        }
      }
    }
  }
}

/* alerts */
.danger{
  color: red;
}

.logo{
  
  &::before{
    content: " ";
    position: absolute;
    width: 38px;
    height: 40px;
    margin: -2px;
    padding: 0px;
    transform: rotate(45deg);
    border-bottom: 1px solid #000;
    border-left: 4px solid #000;
    border-radius: 15px;
  }
  &::after{
    content: " ";
    position: absolute;
    width: 48px;
    height: 30px;
    transform: rotate(56deg);
    border-left: 6px solid red;
    border-radius: 30px 0px;
  }
}


}//App closed
