@import "./sass/media";
@import "./sass/color";
@import "./sass/font";
@import "./sass/button";
@import "./sass/transition";

/** Boxes **/
@import "./sass/Boxes/b4member";
@import "./sass/Boxes/b3images";
@import "./sass/Boxes/b3services";
@import "./sass/Boxes/b3cards";
@import "./sass/Boxes/b3textimages";
@import "./sass/Boxes/b2leftright";
@import "./sass/Boxes/b2reviews";
@import "./sass/Boxes/b3plans";
@import "./sass/Boxes/b3plans-a";
@import "./sass/Boxes/b4boxborder";
@import "./sass/Boxes/b4boxes";

/** Navigation **/
@import "./sass/Navigation/BtnThreelines.scss";
@import "./sass/Navigation/NavSlideIn.scss";
@import "./sass/Navigation/NavCoverPage.scss";
@import "./sass/Navigation/NavSlideInLeft.scss";
@import "./sass/Navigation/navbar";
@import "./sass/Navigation/NavEcom";

/** Call To Action **/
@import "./sass/CallToAction/VideoHeadlineButton";
@import "./sass/CallToAction/CTAwithImage";
@import "./sass/CallToAction/TwoColumnCTA.scss";
@import "./sass/CallToAction/CTALargeImage";

/** Animation **/
@import "./sass/Animation/smoketext";
@import "./sass/Animation/rotation";
@import "./sass/Animation/circle";

/** Contact Form **/
@import "./sass/Contact/FormRegular";
@import "./sass/Contact/FormWide";
@import "./sass/Contact/FormDetails";
@import "./sass/Contact/FormInBox";
@import "./sass/Contact/FormGetInTouch";
@import "./sass/Contact/FormGetQuote";

/** Headers **/
@import "./sass/Headers/EcomHeadersTop";
@import "./sass/Headers/EcomSearchBar";

/** **/
.ref {
  font-size: 0.7rem;
  padding: 10px 20px;
  background: #000;
  color: #ccc;
  letter-spacing: 2px;
  width: 200px;
  margin: 15px 0px;
}
.App {
  max-width: 1280px;
  margin: 0px auto;

  h2 {
    text-align: center;
  }

  .main {
    display: grid;
    grid-template-columns: 20% 80%;
  }
}

/** category component **/
.categories {
  ul {
    li {
      list-style: none;
      margin: 10px 0px;
      a {
        text-decoration: none;
        padding: 10px 0px;
        font-size: $medium;
        &:hover {
          color: $color_light;
          transition: 0.5s;
        }
      }
    }
  }
}

/* alerts */
.danger{
  color: red;
}