@keyframes flip {
  0% { opacity: 0; transform: scaleX(-1);}
  100% {opacity: 1; transform: scaleX(1);}
}

@keyframes fadeIn {
  0%{opacity: 0;}
  50%{opacity: 0;}
  100%{opacity: 1;}
}

  .animationFlip{
    animation: flip 0.5s;
  }
  .animationFadeIn{
    animation: fadeIn 0.5s;
  }

    div{
      ul.main, ul.moreInfo{
        list-style: none;
        margin: 0px 15px;
        padding: 0px;
        min-height: 530px;
        position: relative;
        border-bottom: 1px solid $border_lighter;
        li.recipe_title{
          height: 110px;
          padding: 0px 5px;
          text-align: center;
          display: flex;
          align-items: center;
          justify-content: center;
        }

        li.btn-ingredients,
        li.btn-back{
          button{
            border-radius: 0px;
            padding: 5px 20px;
            background-color: $background_light;
            color: $color_white;
            outline: 0px;
          }
        }
        li.btn-ingredients{
          position: absolute;
          bottom: 55px;
        }
        li.btn-back{
          position: absolute;
          bottom: 55px;
          right: 5px;
        }
        li.source{
          position: absolute;
          bottom: 15px;
          right: 10px;
          cursor: pointer;
          a{
            text-decoration: none;
            color: $color_black;
          }
        }
      }

    }

   /** Main Result Listing **/
    div{
      ul.main{   
        li.image{
          display: flex;
          justify-content: center;
        }
        li{
          p{
            font-size: $medium;
          }
          p.healthLabels{
            font-size: $small;
            font-weight: 300;
          }
          a{
            img{
            width: 100%;
            max-width: 250px;
            height: auto;
            filter: grayscale(0%);
            outline: 1px solid $border_white;
            outline-offset: -10px;
            margin: 0px auto;
            }
          }
        }
      }
    }

    /** INGREDIENTS **/
    div{
        ul.moreInfo{
        outline: 1px solid $border_white;
        outline-offset: -5px;
        animation: flip 0.5s;
        border-top: 1px solid $border_lighter;
        li{
          list-style: none;
          ul{
            margin: 0px;
            padding: 0px;
            li{
              font-size: $small;
            }
          }
        }
        li.serving, 
        li.nutrients, 
        li.ingredients,
        li.calories,
        li.calorie_count,
        li.nutrition-label{
          margin: 10px 0px;
          padding: 0px 20px;
          p{
            margin: 12px 0px;
          }
        }
        
        input.serving{
          width: 50px;
          padding: 3px;
          font-size: $medium;
        }
        li.nutrition-label {
          margin-bottom: 100px;
          p{
            margin: 0px;
            padding: 1px 0px;
          }
          ul{
              display: grid;
              grid-template-columns: repeat(5, 40px);
              grid-gap: 2px;

              li{
                font-size: $small;
                text-align: center;
              }
            }
        }
      }

    }