.cta-bg-image{
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;

  &::after{
    content: "";
    background: url('../../images/b3image-1.jpg');
    background-size: cover;
    opacity: 0.5;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    filter: grayscale(100%);
  }

  h1{
    font-size: $extra_large;
    font-weight: 800;
    color: $color_darker;
    &:hover{
      transition: 3s ease-in-out;
      transform:rotate(30deg);
    }
    transition: 2s ease-in;
  }
  h4{
    font-size: $large;
    margin: 20px 50px;
    text-transform: capitalize;
    color: $color_white;
    text-align: center;
  }
}